services:
  postgres:
    image: postgres:15
    container_name: ainocular-personal-ai-agent
    environment:
      POSTGRES_DB: ainocular
      POSTGRES_USER: ainocular
      POSTGRES_PASSWORD: ainocular
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: